@use '../abstract/index' as *;

.about{
    background:linear-gradient(rgba(38, 38, 38, 0.8), rgba(38, 38, 38, 0.8)),url('../../src/img/about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;


    // Header
    &__header{
        display: flex;
        position: relative;
        top: -150px;

        @include rwd(1200){ display: none; }
    }

    &__box{
        background-color: $primary-color;
        text-align: center;
        padding:3rem 2rem;
        flex: 1;
    }

    &__icon{
        color: $secondary-color;
        font-size: 2rem;
    }

    &__heading{
        color: #fff;
        text-transform: uppercase;
        margin: 1rem 0;
    }

    &__text{
        line-height: 1.7;
        font-size: 0.9rem;

        span{
            display: block;
            margin-top: 1rem;
            color: #fff;
        }
    }


    // Main
    &__wrapper{
        display: flex;
        align-items: center;

        @include rwd(1200){ flex-direction: column; }
    }

    &__item{
        flex: 2;

        &--img{ flex: 1; }
    }

    &__title{
        font-size: 1.5rem;
        color: #fff;
    }

    &__info{
        margin-top: 1.5rem;
        color: #c9c9c9;
        line-height: 1.7;
    }
}