@use '../abstract/index' as *;


.contact{
    text-align: center;

    &__wrapper{
        @include flex(space-between, stretch, wrap);
        margin-top: 4rem;
    }

    &__item{
        flex: 0 0 47%;

        @include rwd(1200){ flex:0 0 100%;}
    }

    &__box{
        display: flex;
        gap: 1rem;

        @include rwd(576){ 
            flex-direction: column;
            gap: 0; 
        }
    }

    &__input{
        background-color: #f5f5f5;
        color: #636363;
        font-size: 15px;
        padding: 20px 22px;
        border-radius: 0;
        width: 100%;
        display: block;
        margin-bottom: 1rem;

        @include rwd(576){ 
            padding: 1rem;
        }
    }

    textarea{ height: 155px; }

    &__btn{
        width: 100%;
        display: block;
    }

    &__img{
        height: 100%;

        @include rwd(1200){ display: none; } 
    }
}