@use '../abstract/index' as *;

.footer{
    padding: 70px 0 0;
    background-color: #1d1d1d;

    &__wrapper{
        display: flex;
        justify-content: space-between;
        row-gap: 3rem;
        padding-bottom: 4rem;

        @include rwd(1200){ flex-direction: column; }
    }

    &__item{ flex: 0 0 22%; }

    &__title{
        color: #fff;
        margin-bottom: 2rem;
    }

    &__list{ @include flex(flex-start, stretch, column, 0.5rem); }

    &__link{
        color: $secondary-color;

        display: block;

        &:hover,
        &:focus{ color: #fff;}
    }

    &__copyright{
        padding: 2rem 0;
        border-top: 2px solid $secondary-color;

        a{ display: inline;}
    }
}