@use '../abstract/index' as *;


.hero{
    background:linear-gradient(rgba(38, 38, 38, 0.7), rgba(38, 38, 38, 0.7)), url('../../src/img/logo/7.jpg');
    height: 120vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 0;

    .nav{
        @include flex(space-between, center);
        height: 15vh;
        

        &__list{
            display: flex;
            gap: 2rem;
        }

        &__logo{

            img{
                width: 220px;
                height: 10vh;
            }
        }

        &__link{
            color: $text-color;
            text-transform: capitalize;
            font-weight: 500;

            &:hover,
            &.active{
                color: #fff;
            }
        }
    }

    &__wrapper{
        @include flex(center, center, column);
        height: 75vh;
        text-align: center;
    }

    &__subtitle{
        text-transform: uppercase;
        color: $secondary-color;
        font-size: 2.5rem;
        font-weight: 500;
        position: relative;

        &::after{
            @include position(absolute, auto, auto, 0, 50%, 150px, 2px);
            display: block;
            content: "";
            background-color: $secondary-color;
        }
    }

    &__heading{
        color: #fff;
        font-size: 4rem;
        max-width: 900px;
        margin: 1rem 0;
    }

    &__p{
        font-weight: 600;
        max-width: 550px;
        line-height: 1.8;
        font-size: 1.1rem;
        color: #dedede;
        margin-bottom: 1rem;
    }

    &__btn{
        background-color: $secondary-color;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        padding: 1rem 1.5rem;
        color: #fff;
    }
}