@use '../abstract/index' as *;


.services{
    text-align: center;

    &__wrapper{
        @include flex(space-between, stretch, wrap);
        margin: 4rem 0 2rem;
        row-gap: 5rem;
    }

    &__item{ 
        flex: 0 0 30%; 
        
        @include rwd(1200){ flex: 0 0 45%; }
        @include rwd(992){ flex: 0 0 100%; }
    }

    &__heading{
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 3px;
        color: $secondary-color;
    }

    &__desc{
        margin: 20px 0;
        color: #6d6d6d;
    }

    &__icon{
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    &__link{
        color: $secondary-color;
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

}