@use '../abstract/index' as *;


.services{

    &__wrapper{
        @include flex(space-between, stretch, wrap);
        margin: 4rem 0 2rem;
        row-gap: 5rem;
    }

    &__item{ 
        flex: 0 0 30%; 

        @include rwd(1200){ flex: 0 0 45%; }
        @include rwd(992){ flex: 0 0 100%; }
    }

    &__picture{
        position: relative;

        &::after{
            @include position(absolute, 0, auto, auto, 0, 100%, 100%);
            content: "";
            background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
        }
    }

    &__img{
        height: 200px;
        width: 100%;

        @include rwd(992){ height: 300px; }
    }

    &__heading{
        color: $secondary-color;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.9rem;
        letter-spacing: 3px;
        margin-top: 1.5rem;
    }

    &__desc{
        margin: 20px 0;
        color: #6d6d6d;
        text-align: justify;
    }

    &__link{
        color: $secondary-color;
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;

        &:hover{ color: $primary-color; }
    }

}