@use '../abstract/index' as *;


.services{
    // text-align: center;

    &__wrapper{
        @include flex(space-between, stretch, wrap);
        margin-top: 4rem;
        row-gap: 5rem;
    }

    &__item{ flex: 0 0 22%; }

    &__heading{
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 3px;
        color: $secondary-color;
    }

    &__desc{
        margin: 20px 0;
        color: #6d6d6d;
    }

    &__icon{
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    &__link{
        color: $secondary-color;
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}