@use '../abstract/index' as *;


.top-nav {
    background-color: $primary-color;
    padding: 0;

    @include rwd(1200){ display: none; }

    &__wrapper { @include flex(space-between, center); }

    &__item {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    a {
        color: $text-color;

        &:hover { color: $secondary-color; }
    }

    &__btn {
        background-color: $secondary-color;
        color: #fff !important;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        padding: 1rem 1.5rem;

        &:hover { opacity: 0.75; }
    }

    .icon {
        color: $secondary-color;
        font-size: 0.9rem;
    }
}
