@use '../abstract/index' as *;


.top-nav {
    @include flex(space-between, center);
    background-color: $primary-color;

    padding:0 10%;

    @include rwd(1200){ display: none; }

    &__item {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    a {
        color: $text-color;

        &:hover { color: $secondary-color; }
    }

    &__btn {
        color: $primary-color !important;

        border: none;

        &:hover { 
            background-color: $secondary-color;

            border: none;
            opacity: 0.75;
        }
    }

    .fa-solid,
    .fa-brands {
        color: $secondary-color;
        
        font-size: 0.9rem;
    }
}
