* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
  resize: none;
}

body {
  font-size: 100%;
  overflow-x: hidden;
  line-height: 1.4;
  color: #979797;
  font-family: "Poppins", sans-serif;
}
@media (width < 576px) {
  body {
    font-size: 85%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

section {
  padding: 70px 0;
}

a {
  transition: 0.4s linear;
}

.container {
  width: 80%;
  margin: auto;
}
@media (max-width: 576px) {
  .container {
    width: 80%;
  }
}

.section-title {
  font-size: 30px;
  color: #303030;
}
.section-title::after {
  background-color: #262626;
  display: block;
  content: "";
  width: 30px;
  height: 1px;
  margin: 2rem auto 0;
  transform: rotate(91deg);
}

.section-subtitle {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #a8a8a8;
}

.cta {
  text-align: center;
  background-color: #262626;
}
.cta__heading {
  color: #e3b723;
  font-size: 2rem;
}
.cta__p {
  color: #fff;
}
.cta__box {
  margin: 2rem 0;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.cta__box a {
  color: #fff;
}
.cta__box i {
  color: #e3b723;
}
.cta__btn {
  background-color: #e3b723;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 1rem 1.5rem;
  color: #fff;
}

.top-nav {
  background-color: #262626;
  padding: 0;
}
@media (max-width: 1200px) {
  .top-nav {
    display: none;
  }
}
.top-nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
}
.top-nav__item {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.top-nav a {
  color: #979797;
}
.top-nav a:hover {
  color: #e3b723;
}
.top-nav__btn {
  background-color: #e3b723;
  color: #fff !important;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 1rem 1.5rem;
}
.top-nav__btn:hover {
  opacity: 0.75;
}
.top-nav .icon {
  color: #e3b723;
  font-size: 0.9rem;
}

.hero {
  background: linear-gradient(rgba(38, 38, 38, 0.7), rgba(38, 38, 38, 0.7)), url("../../src/img/logo/7.jpg");
  height: 110vh;
  background-position: center;
  background-size: cover;
  padding: 0;
}
.hero .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
  padding: 2rem 0;
  position: relative;
}
@media (max-width: 992px) {
  .hero .nav {
    background-color: #262626;
    width: 100%;
    padding: 1rem 10%;
  }
}
.hero .nav__list {
  display: flex;
  gap: 2rem;
  transition: 0.4s linear;
}
.hero .nav__list.active {
  transform: translateX(0);
}
@media (max-width: 992px) {
  .hero .nav__list {
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    width: 200px;
    height: 100%;
    background-color: #262626;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    transform: translateX(100%);
  }
}
.hero .nav__img {
  width: 220px;
  height: 50px;
}
@media (max-width: 576px) {
  .hero .nav__img {
    width: 150px;
  }
}
.hero .nav__link {
  color: #979797;
  text-transform: capitalize;
  font-weight: 500;
}
.hero .nav__link:hover, .hero .nav__link.active {
  color: #fff;
}
.hero .nav__hamburger {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
  z-index: 999;
  background: transparent;
}
@media (max-width: 992px) {
  .hero .nav__hamburger {
    display: flex;
  }
}
.hero .nav__hamburger__line {
  width: 30px;
  height: 2px;
  background-color: #fff;
  transition: 0.4s linear;
}
.hero .nav__hamburger .line-1.active {
  opacity: 0;
}
.hero .nav__hamburger .line-2.active {
  transform: rotate(140deg);
}
.hero .nav__hamburger .line-3.active {
  transform: translateY(-10px) rotate(-140deg);
}
.hero__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  gap: 0;
  height: 75vh;
}
.hero__subtitle {
  color: #e3b723;
  text-transform: uppercase;
  font-size: clamp(1.5rem, 3.5vw, 2.5rem);
  font-weight: 500;
  position: relative;
  padding-bottom: 0.5rem;
}
.hero__subtitle::after {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 2px;
  background-color: #e3b723;
  display: block;
  content: "";
}
.hero__heading {
  color: #fff;
  font-size: clamp(2rem, 5vw, 3.5rem);
  max-width: 950px;
  margin: 1rem 0;
}
@media (max-width: 576px) {
  .hero__heading {
    max-width: 100%;
  }
}
.hero__p {
  font-weight: 600;
  max-width: 450px;
  color: #dedede;
  margin-bottom: 1rem;
}
.hero__btn {
  background-color: #e3b723;
  color: #262626;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 1rem 1.5rem;
}
.hero__btn:hover {
  opacity: 0.75;
}

.about {
  background: linear-gradient(rgba(38, 38, 38, 0.8), rgba(38, 38, 38, 0.8)), url("../../src/img/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.about__header {
  display: flex;
  position: relative;
  top: -150px;
}
@media (max-width: 1200px) {
  .about__header {
    display: none;
  }
}
.about__box {
  background-color: #262626;
  text-align: center;
  padding: 3rem 2rem;
  flex: 1;
}
.about__icon {
  color: #e3b723;
  font-size: 2rem;
}
.about__heading {
  color: #fff;
  text-transform: uppercase;
  margin: 1rem 0;
}
.about__text {
  line-height: 1.7;
  font-size: 0.9rem;
}
.about__text span {
  display: block;
  margin-top: 1rem;
  color: #fff;
}
.about__wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 1200px) {
  .about__wrapper {
    flex-direction: column;
  }
}
.about__item {
  flex: 2;
}
.about__item--img {
  flex: 1;
}
.about__title {
  font-size: 1.5rem;
  color: #fff;
}
.about__info {
  margin-top: 1.5rem;
  color: #c9c9c9;
  line-height: 1.7;
}

.services__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: wrap;
  gap: 0;
  margin-top: 4rem;
  row-gap: 5rem;
}
.services__item {
  flex: 0 0 22%;
}
.services__heading {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  color: #e3b723;
}
.services__desc {
  margin: 20px 0;
  color: #6d6d6d;
}
.services__icon {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.services__link {
  color: #e3b723;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.team {
  text-align: center;
}
.team__subtitle {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #e3b723;
}
.team__subtitle::after {
  display: block;
  content: "";
  width: 30px;
  height: 1px;
  background-color: #262626;
  margin: 2rem auto 0;
  transform: rotate(91deg);
}
.team__title {
  font-size: 30px;
  color: #303030;
}
.team__wrapper {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  row-gap: 3rem;
}
.team__item {
  flex: 0 0 30%;
}
.team__img {
  overflow: hidden;
}
.team img {
  width: 100%;
  transition: 0.4s linear;
}
.team img:hover {
  transform: scale(1.2);
}
.team__body {
  padding: 2rem;
}
.team__name {
  color: #383838;
  margin-bottom: 4px;
  letter-spacing: 3px;
  font-weight: 500;
  text-transform: uppercase;
}
.team__role {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

.contact {
  text-align: center;
}
.contact__subtitle {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #a8a8a8;
}
.contact__title {
  font-size: 30px;
  color: #303030;
}
.contact__title::after {
  display: block;
  content: "";
  width: 30px;
  height: 1px;
  background-color: #262626;
  margin: 2rem auto 0;
  transform: rotate(91deg);
}
.contact__wrapper {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}
.contact__item {
  flex: 0 0 47%;
}
.contact__map {
  width: 100%;
  height: 100%;
}
.contact__box {
  display: flex;
  gap: 1rem;
}
.contact__input {
  background-color: #f5f5f5;
  color: #636363;
  font-size: 15px;
  padding: 20px 22px;
  border-radius: 0;
  width: 100%;
  display: block;
  margin-bottom: 1rem;
}
.contact textarea {
  height: 155px;
}
.contact__btn {
  width: 100%;
  display: block;
  background-color: #e3b723;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 1rem 1.5rem;
  color: #fff;
}

.footer {
  padding: 70px 0;
  background-color: #1d1d1d;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: row nowrap;
  gap: 0;
  row-gap: 3rem;
}
.footer__item {
  flex: 0 0 22%;
}
.footer__logo img {
  width: 220px;
  height: 10vh;
}
.footer__text {
  line-height: 1.7;
  margin-bottom: 1rem;
}
.footer__icons {
  display: flex;
  gap: 1rem;
}
.footer .icon {
  color: #e3b723;
}
.footer .icon:hover {
  opacity: 0.7;
}
.footer__title {
  color: #fff;
  margin-bottom: 2rem;
}
.footer__contact {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.footer__contact span {
  color: #fff;
}
.footer__contact a {
  color: #e3b723;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.footer__link {
  display: block;
  color: #e3b723;
  text-transform: capitalize;
}
.footer__link:hover {
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
